{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
</head>
<body>
	{% include 'reqs/navbar.html' %}
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<i class="fas fa-users-cog"></i>
				</a></li>
				<li class="active">Team</li>
			</ol>
		</div>

		<div class="row">
			<legend class="text-center">THE GREENZEE TEAM</legend>
			<legend>SALES EXECUTIVE</legend>
			{% for member in all_sales_members %}
				<a href="{% url 'team-member' member.employee_id %}">
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">{{ member.first_name }} {{ member.last_name }}</div>
							<div class="panel-body">
								<p>{{ member.designation }}</p>
								<p></p>
								<p>{{ member.city }}, {{ member.state }}</p>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">{{ member.employee_id }}</div>
									<div class="text-muted">Employee ID</div>
								</div>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">0</div>
									<div class="text-muted">Generated Invoices</div>
								</div>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">0</div>
									<div class="text-muted">Monthly Stat</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>

		<div class="row">
			<legend class="text-center">THE GREENZEE TEAM</legend>
			{% for member in all_members %}
				<a href="{% url 'team-member' member.employee_id %}">
					<div class="col-md-4">
						<div class="panel panel-info">
							<div class="panel-heading">{{ member.first_name }} {{ member.last_name }}</div>
							<div class="panel-body">
								<p>{{ member.designation }}</p>
								<p></p>
								<p>{{ member.city }}, {{ member.state }}</p>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">{{ member.employee_id }}</div>
									<div class="text-muted">Employee ID</div>
								</div>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">0</div>
									<div class="text-muted">Generated Invoices</div>
								</div>
								<div class="col-xs-4 col-md-4 date">
									<div class="large">0</div>
									<div class="text-muted">Monthly Stat</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	
	{% include 'reqs/footerScripts.html' %}
		
</body>
</html>