{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/customer-record.css' %}">

	<style type="text/css">
		.disable {
			color: currentColor;
			cursor: not-allowed;
			opacity: 0.5;
			text-decoration: none;
			pointer-events: none;
		}
	</style>
</head>

<body>
	{% if user.admin %}
		{% include 'reqs/navbar.html' %}
	{% else %}
		{% include 'reqs/se_navbar.html' %}
	{% endif %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!-- New Invoice Begins -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand">
		    <i class="fas fa-file-invoice"></i>
		  </a>
		  <!-- Add Items to Cart -->
		  <a class="navbar-brand">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cart-plus"></i>
		  </a>
		  <!-- Customer Personal Info -->
		  <a class="navbar-brand">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-user-lock"></i>
		  </a>
		  <!-- Customer Location Info -->
		  <a class="navbar-brand">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-map-marked-alt"></i>
		  </a>
		  <!-- Checkout -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cash-register"></i>
		  </a> 	
		</nav>

		<div class="row">
			<div class="col-lg-12">
				<h2>Customer Information</h2>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Add A New Address</h2>
				<hr>
				<form method="POST" name="" id="">
					{% csrf_token %}
					<legend>Customer Address</legend>
					<div class="form-group col-md-6">
						<label>{{ form_new.address.label_tag }}</label>
						{{ form_new.address }}
						{{ form_new.address.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.city.label_tag }}</label>
						{{ form_new.city }}
						{{ form_new.city.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.state.label_tag }}</label>
						{{ form_new.state }}
						{{ form_new.state.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.country.label_tag }}</label>
						{{ form_new.country }}
						{{ form_new.country.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.pincode.label_tag }}</label>
						{{ form_new.pincode }}
						{{ form_new.pincode.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.address_type.label_tag }}</label>
						{{ form_new.address_type }}
						{{ form_new.address_type.errors }}
					</div>
					<div class="form-group col-md-6"></div>
					<legend>Alternate Contact Information</legend>
					<div class="form-group col-md-6">
						<label>{{ form_new.phoneNumber.label_tag }}</label>
						{{ form_new.phoneNumber }}
						{{ form_new.phoneNumber.errors }}
					</div>
					<div class="form-group col-md-6">
						<label>{{ form_new.email.label_tag }}</label>
						{{ form_new.email }}
						{{ form_new.email.errors }}
					</div>
					<legend>Customer Information</legend>
					<div class="form-group col-md-6">
						<label>{{ form_new.customer_id.label_tag }}</label>
						{{ form_new.customer_id }}
						{{ form_new.customer_id.errors }}
					</div>
					<div class="form-group col-md-12">
						<button class="btn btn-default btn-md btn-success" value="submit">
							Selected Address...Move to Payments <i class="fas fa-money-check-alt"></i>
						</button>
					</div>
					<hr>
				</form>	 
			</div>
		</div>

		<div class="text-center" style="font-size: 20px;">
			<legend>OR</legend>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Existing Addresses of this Customer</h2>
				<form method="POST" id="existing_customer_address" name="existing_customer_address">
					{% csrf_token %}
					{% for field in form_existing %}
						<label>{{ field.label_tag }}</label>
						{{ field }}
						{{ field.errors }}
					{% endfor %}<br>
					<button class="btn btn-default btn-md btn-success" value="submit">
						Proceed to Payment <i class="fas fa-money-check-alt"></i>
					</button><br><br>
					<div class="list-group">
						<ul id="existing_addresses_list">
							{% for object in address_list %}
							<li data-value="{{ object.customer_address_id }}">
								<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{ object.city }}, {{ object.state }}, {{ object.country }}</h5>
									</div>
									<p class="mb-1">{{ object.address }} - {{ object.pincode }}</p>
									<small>{{ object.address_type }}</small>
							  	</a>
							  </li>
						  	{% endfor %}
					  	</ul>
					</div>
				</form>
			</div>
		</div>	
	</div>

{% include 'reqs/footerScripts.html' %}

	<!-- Fetching value from list to input area for form -->
	<script>
		$("#existing_addresses_list").on("click", "a", function(e){
		    e.preventDefault();
		    var $this = $(this).parent();
		    $this.addClass("select").siblings().removeClass("select");
		    $("#id_customer_address").val($this.data("value"));
		});

		$("form[name=existing_customer_address]").submit(function(e) {
		    if ($(this).find("li.select").length == 0) {
		        alert( "Please select an address...or add a New One!" );
		        e.preventDefault();
		    }
		});
	</script>

</body>
</html>