{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/customer-record.css' %}">
</head>

<!-- 
	Pattern:
	- order_id & order_num
	- Product to be purchased
	- Customer information
	- Checkout
-->

<body>
	{% include 'reqs/navbar.html' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<h2>Customer Information</h2>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h2>A New Customer!</h2>
				<form method="POST">
					{% csrf_token %}
					<div class="form-row">
						{% for field in form.visible_fields %}
							<div class="form-group col-md-6">
								<label for="inputPassword4">{{ field.label_tag }}</label>
								{{ field }}
								
							</div>
						{% endfor %}

					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-default btn-md" name="add_to_cart">Add To Cart <i class="fas fa-shopping-cart"></i></button>
					</div>
				</form>
			</div>
		</div>
		
		<div class="text-center" style="font-size: 20px;">
			<legend>OR</legend>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Existing Customer?</h2>
				<form method="POST" name="existing_customer">
					{% csrf_token %}
					{{ form_existing }}<br>
					<button class="btn btn-primary" value="submit">Found the Customer!</button><br><br>
					<hr>
					<input type="text" id="is_customer" onkeyup="searchFunc()" placeholder="Start typing characters" title="Type in a name">
					<hr>

					<ul id="customer_list">
						{% for object in list %}
							<li data-value="{{ object.customer_id }}">
								<a href="#"><b>{{ object.name }}</b> ||
								{{ object.email }}</a>
							</li>
						{% endfor %}
					</ul>
				</form>	
			</div>
		</div>
			
	</div>

	<!-- Querying Live Customer List -->
	<script type="text/javascript">
		function searchFunc() {
		    var input, filter, ul, li, a, i, txtValue;
		    input = document.getElementById("is_customer");
		    filter = input.value.toUpperCase();
		    ul = document.getElementById("customer_list");
		    li = ul.getElementsByTagName("li");
		    for (i = 0; i < li.length; i++) {
		        a = li[i].getElementsByTagName("a")[0];
		        txtValue = a.textContent || a.innerText;
		        if (txtValue.toUpperCase().indexOf(filter) > -1) {
		            li[i].style.display = "";
		        } else {
		            li[i].style.display = "none";
		        }
		    }
		}
	</script>

{% include 'reqs/footerScripts.html' %}

	<!-- Fetching value from list to input area for form -->
	<script>

		$("#customer_list").on("click", "a", function(e){
		    e.preventDefault();
		    var $this = $(this).parent();
		    $this.addClass("select").siblings().removeClass("select");
		    $("#id_customer_info").val($this.data("value"));
		});

		$("form[name=existing_customer]").submit(function(e) {
		    if ($(this).find("li.select").length == 0) {
		        alert( "Please select a customer...or add a New One!" );
		        e.preventDefault();
		    }
		});
	</script>

</body>
</html>