{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
	<style type="text/css">
		.disable {
			color: currentColor;
			cursor: not-allowed;
			opacity: 0.5;
			text-decoration: none;
			pointer-events: none;
		}
	</style>
</head>

<!-- 
	Pattern:
	- order_id & order_num
	- Product to be purchased
	- Customer information
	- Checkout
-->

<body>
	{% include 'reqs/navbar.html' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!-- New Invoice Begins -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand">
		    <i class="fas fa-file-invoice"></i>
		  </a>
		  <!-- Add Items to Cart -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cart-plus"></i>
		  </a>
		  <!-- Customer Personal Info -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-user-lock"></i>
		  </a>
		  <!-- Customer Location Info -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-map-marked-alt"></i>
		  </a>
		  <!-- Checkout -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cash-register"></i>
		  </a> 	
		</nav>

		<div class="row">
			<div class="col-lg-12">
				<h2>New Invoice Details</h2>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" action="" method="POST">
					{% csrf_token %}
					<legend>Order Details</legend>
					<div class="form-group">
						<label class="col-md-3 control-label" for="name">{{ form.order_number.label_tag }}</label>
						<div class="col-md-9">
							{{ form.order_number }}
							{{ form.order_number.errors }}
						</div>
					</div>
					<legend>Organization Info</legend>
					<div class="form-group">
						<label class="col-md-3 control-label" for="name">{{ form.organization_id.label_tag }}</label>
						<div class="col-md-9">
							{{ form.organization_id }}
							{{ form.organization_id.errors }}
						</div>
					</div>
					<legend>Employee Info</legend>
					<div class="form-group">
						<label class="col-md-3 control-label" for="name">{{ form.employee_id.label_tag }}</label>
						<div class="col-md-9">
							{{ form.employee_id }}
							{{ form.employee_id.errors }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default btn-md pull-right btn-primary btn-success">
								Proceed to Selecting Products
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% include 'reqs/footerScripts.html' %}

</body>
</html>