{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
</head>

<body>
	{% include 'reqs/navbar.html' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<i class="fas fa-file-invoice"></i>
				</a></li>
				<li class="active">Invoice</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h2>Invoice</h2>
			</div>
		</div>

		<a href="{% url 'orderDetails' %}">
			<button type="button" class="btn btn-md btn-primary" style="width: 100%;">
				Create A New Invoice
			</button>
		</a>
		<br><br>

		<div class="form-group">
			<label class="col-md-3 control-label" for="name">Search Customer</label>
			<div class="col-md-9">
				<input type="text" id="select_invoice" onkeyup="searchFunc()" placeholder="Start typing characters" title="Type in a name" class="form-control">
			</div>
		</div>

		<br><hr>
		<div class="col-md-12">
			<div class="panel panel-default articles">
				<div class="panel-heading">
					Earlier Invoices
				</div>
				<div class="panel-body articles-container">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<th>#</th>
								<th>Date</th>
								<th>Customer Name</th>
								<th>Order Number</th>
								<!-- <th>Status</th> -->
								<th></th>
								<th></th>
							</thead>
							<tbody id="invoice_sort">
								{% for order in orders %}
									<tr>
										<td>{{ forloop.revcounter }}</td>
										<td>{{ order.creation_date }}</td>
										<td>{{ order.customer_id.name }}</td>
										<td>{{ order.order_number }}</td>
										<td>
											<a href="{% url 'final-invoice' order.order_id %}">
												<button class="btn btn-success">
													Invoice
												</button>
											</a>
										</td>
										<td>
											<a href="{% url 'final-invoice' order.order_id %}">
												<button class="btn btn-success">
													Details
												</button>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'reqs/footerScripts.html' %}

	<!-- Querying Live Customer List -->
	<script type="text/javascript">
		function searchFunc() {
		    $(document).ready(function(){
			  $("#select_invoice").on("keyup", function() {
			    var value = $(this).val().toLowerCase();
			    $("#invoice_sort tr").filter(function() {
			      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			    });
			  });
			});
		}
	</script>

</body>
</html>