{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}

	<style type="text/css">
		.disable {
			color: currentColor;
			cursor: not-allowed;
			opacity: 0.5;
			text-decoration: none;
			pointer-events: none;
		}
	</style>
</head>

<body>
	{% include 'reqs/navbar.html' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!-- New Invoice Begins -->
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand">
		    <i class="fas fa-file-invoice"></i>
		  </a>
		  <!-- Add Items to Cart -->
		  <a class="navbar-brand">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cart-plus"></i>
		  </a>
		  <!-- Customer Personal Info -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-user-lock"></i>
		  </a>
		  <!-- Customer Location Info -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-map-marked-alt"></i>
		  </a>
		  <!-- Checkout -->
		  <a class="navbar-brand disable">
		  	<i class="fas fa-long-arrow-alt-right"></i>
		    <i class="fas fa-cash-register"></i>
		  </a> 	
		</nav>

		<div class="row">
			<div class="col-lg-12">
				<h2>New Invoice Details</h2>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<form method="POST">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>{{ form.product_id.label_tag }}</label>
							{{ form.product_id }}
						</div>
						{{ form.product_id.errors }}
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>{{ form.quantity.label_tag }}</label>
							{{ form.quantity }}
						</div>
						{{ form.quantity.errors }}
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>{{ form.delivery_date.label_tag }}</label>
							{{ form.delivery_date }}
						</div>
						{{ form.delivery_date.errors }}
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>{{ form.product_price.label_tag }}</label>
							{{ form.product_price }}
						</div>
						{{ form.product_price.errors }}
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>{{ form.order_id.label_tag }}</label>
							{{ form.order_id }}
						</div>
						{{ form.order_id.errors }}
					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-default btn-md" name="add_to_cart">Add To Cart <i class="fas fa-shopping-cart"></i></button>
					</div>
				</form>
				<div class="col-md-12">
					<hr>
					<a href="{%  url 'customer-records' id=id %}"><button class="btn btn-default btn-md pull-right btn-success">Proceed to Customer Information <i class="fas fa-id-card"></i></button></a>
				</div>
			</div>
		</div>

		<!-- Selected products for the order -->
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Cart Products</h2>
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Product</th>
				      <th scope="col">Quantity</th>
				      <th scope="col">Delivery Date</th>
				      <th scope="col">Amount</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for products in products_list %}
				  		<tr>
					      <th scope="row">{{ forloop.counter }}</th>
					      <td>{{ products.product_id }}</td>
					      <td>{{ products.quantity }}</td>
					      <td>{{ products.delivery_date }}</td>
					      <td>{{ products.product_price }}</td>
					      <td><a href="{% url 'product_order_delete' products.product_order_id %}"><button class="btn btn-danger">Remove</button></a></td>
					    </tr>
				  	{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>			
	</div>

	{% include 'reqs/footerScripts.html' %}

	<!-- Fetching value from list to input area for form -->
	<script>
		$("#customer_list").on("click", "a", function(e){
		    e.preventDefault();
		    var $this = $(this).parent();
		    $this.addClass("select").siblings().removeClass("select");
		    $("#id_customer_info").val($this.data("value"));
		});

		$("form[name=existing_customer]").submit(function(e) {
		    if ($(this).find("li.select").length == 0) {
		        alert( "Please select a customer...or add a New One!" );
		        e.preventDefault();
		    }
		});
	</script>

</body>
</html>