{% load static %}

<!DOCTYPE html>
<html>
<head>
	{% include 'reqs/headerBar.html' %}
</head>

<body>
	{% include 'reqs/navbar.html' %}

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<h2>Order's Product Deleted Succesfully!</h2>
			</div>
		</div>

		<div class="panel panel-default text-center">
			<div class="panel-body">
				<h2 class="text-center">Your item has been deleted...</h2>
				<p><b>Move on to adding</b> <a href="javascript:history.go(-1)"><button class="btn btn-info">A New Product</button></a></p>
				<br>
			</div>
		</div>
	</div>

{% include 'reqs/footerScripts.html' %}

</body>
</html>