{% load static %}

<!DOCTYPE html>
<html>
<head>
   <title>Login</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
  <form method='POST' action='' enctype='multipart/form-data'>
    <h1>Greenzee India Pvt. Ltd.</h1>
    <h1>Login</h1>
    <div class="inset">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <p>
          <label for="email">{{ field.label_tag }}</label>
          {{ field }}
        </p>
        {{ field.errors }}
      {% endfor %}
    </div>
    <p class="p-container">
      <!-- <span>Forgot password ?</span> -->
      <input type="submit" name="go" id="go" value="Check Authentication">
    </p>
  </form>
</body>

</html>